body {
    margin: 0;
    font-family: 'Cursed Timer ULiL';
    color: #eeeeee;
    text-align: center;
    background-color: #1b244a;                                            
}

.container {
    display: flex;
    justify-content: space-around;
}

h1 {
    border-radius: 5px;
    color: #f94f6d;
    font-weight: 400;
    font-size: 50px;   
    text-align: center;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
}

.h1-box {
    display: flex;
    justify-content: center;
    background-color: #080001;
    margin-bottom: 20px;
    border-radius: 5px;
}

button {
    background-color: transparent;
    border: 1px solid #9aabd8;
    border-radius: 5px;
    color: #9aabd8;
    font-family: inherit;
    padding: 10px;
}

.reset-btn {
    padding: 20px;
}

